header{ align-items: top}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.container {

    padding: 100px;
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
}

h1 {
    text-align: top;

}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 500px;
}

label {
    font-weight: bold;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
    width: 90%;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-self: flex-end;
}
